# gradle
build
.gradle

# idea
out
classes
.idea
*.iml
*.ipr
*.iws
*.pyc

# etc
*.tsv
*.chk
*.swp
*.rdb
*.txt
*.tsv
rebel.xml
.DS_Store
.svn/
/spring-trace-core

### Eclipse ###
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse
