# gradle
build
.gradle

# idea
out
classes
.idea
*.iml
*.ipr
*.iws
*.pyc

# etc
*.tsv
*.chk
*.swp
*.rdb
rebel.xml
.DS_Store
.svn/


### Eclipse ###
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
.target
.texlipse

